.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
#topNav {
  padding-top:120px;
}
.centerC5 {
  padding-top:210px;
  position: absolute;
  left: 50%;
  top:20%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

#content {
  position: relative;
}
#content img {
  position: absolute !important;
  left: 80% !important;
  width: 20% !important;
  height: 100px !important;
}

.chapterDiv {
  position: absolute;
  top:20%;
}

  .searchBar {
    position: absolute;
    left: 50%;
    top:10%;
    transform: translate(-50%, -50%);
    padding-top:210px;
    z-index: -1;
  }
  .output{
    position: absolute;
    padding: 10px;
    width: 90%;
    top:40%;
    
  }

  img {
      position: relative;
      width: 80%;
      left:10%;
    }
  #logoImg{
    z-index: -1;
    left:80% !important;
    width: 10% !important;
    height: 10% !important;
  }

    #distImg {
      left:0%;
      width: 100% !important;
      height: 110% !important;
    }

  .green  > li > .active  {
    border-width: medium;
    border-style: solid;
    background-color: white;
    border-color: green;
    color: black;
    
}
